.contact {
  background: var(--color-dark);
  font-family: Poppins, sans-serif;
  height: fit-content;
  width: fit-content;
  // z-index: 1;
  div {
    width: fit-content;
    margin: 0;
    padding: 0;
    margin: .2rem 0;
    height: fit-content;
  }
  h3,
  h5 {
    margin: 0;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    width: fit-content;
    color: var(--color-light);
    font-weight: 200;
  }
  h5 {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  .contactIcon {
    font-size: 1.3rem;
    height: 100%;
    color: var(--color-light);
  }
}
