
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--color-orange);
  scroll-behavior: smooth;
  --color-blue: #0077b6;
  --color-blue-dark: #023e8a;
  --color-blue-light: #277da1;
  --color-green: #38b000;
  --color-cream: #e9ecef;
  --color-light: whitesmoke;
  --color-lightish: #f7ede2;
  --color-light1: #ffffffbb;
  --color-light2: #ffffff33;
  --color-light3:  #e9ecef;
  --color-dark:  #343a40;
  --color-dark1:  #adb5bd;
  --color-orange: #e76f51;
  --transition: all .35s ease-in-out;
  --font-p: .9rem;
  --font-h3: 1.3rem;
  --font-h5: .9rem;
}

a {
  color: inherit;
  text-decoration: none;
}
