.mainContainer{
    background: var(--color-lightish);
}

.sections{
    color: var(--color-light);
    font-family: Poppins;
    div{
        margin: 0 .2rem;
    }
    h3{
        font-size: 1.2rem;
        font-weight: 400;
    }
    p{
        font-size: .9rem;
        font-weight: 100;
        letter-spacing: 1px;
        text-align: justify;
    }
    section{
        background: var(--color-blue);
        margin-top: 1rem;
        padding: 5rem 1rem;
    }
}

.navMenu{
    z-index: 2;
    background: var(--color-blue-dark);
    a{
        color: var(--color-light);
        text-decoration: none;
        width: fit-content;
        font-family: Poppins, sans-serif;
        font-weight: 400;
        font-size: .8rem;
        transition: var(--transition);
        border-bottom: 1px solid var(--color-blue-light);
        border-radius: .2rem .2rem 0 0;
    }
    a:hover, a:focus, a:active{
        text-decoration: none;
    }
    a:hover{
        color: var(--color-light);
        background: var(--color-light2);
    }
    a:active{
        background: var(--color-light2);
    }
    a:focus{
        background: var(--color-light2);
    }
}

.title{
    height: fit-content;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/title.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h4{
        font-size: min(calc(100vw / 10), 4rem);
        text-align: center;
        font-family: "Fugaz One", sans-serif;
        color: var(--color-lightish);
        -webkit-text-stroke: 3px var(--color-blue-dark);
    }
    .firstTitle{
        padding-right: min(30%,10rem);
    }
    .secondTitle{
        padding-left: min(30%, 10rem);
    }

}

.contact{
    background: var(--color-blue);
    h3,h5{
        margin: 0;
        padding: .5rem 0;
        display: flex;
        align-items: center;
        width: fit-content;
        color: var(--color-light);
        font-family: Poppins, sans-serif;
        font-weight: 200;
    }
    h3{
        font-weight: 400;
        font-size: 1.2rem;
    }
    h5{
        font-style: italic;
        font-size: 1rem;
        letter-spacing: 1px;
    }
    .contactIcon{
        font-size: 1.7rem;
        margin-top: .3rem;
        height: 100%;
        color: var(--color-light);
    }
    @media screen and (max-width: 375px){
        h3, h5{
            font-size: .8rem;
        }
        .contactIcon{
            font-size: 1.3rem;
            // margin-top: .3rem;
        }
    }
}