.container{
    h3{
        color: var(--color-dark);
        font-size: var(--font-h3);
    }
    h5{
        font-size: var(--font-h5);
        margin-left: 1rem;
    }
    p,li{
        font-size: var(--font-p);
        font-weight: 200;
    }
    p{
        letter-spacing: 1px;
    }
    div{
        background: var(--color-light3);
        padding: .5rem;
        margin: .5rem 0;
    }
    li{
        list-style-position: outside;
        padding-left: .5rem;
    }
}