.layout {
  background: var(--color-cream);
  height: fit-content;
  min-height: 100vh;
  font-family: Poppins, sans-serif;
  .children{
    background: var(--color-light);
    border-radius: 1rem;
  }
 
  .title {
    align-items: center;
    background-image: url("/gps.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 15rem;
    justify-content: center;
    padding: 1rem 0;
    h4 {
      -webkit-text-stroke: 3px var(--color-blue-dark);
      color: var(--color-lightish);
      font-family: "Fugaz One", sans-serif;
      font-size: min(calc(100vw / 10), 4rem);
      text-align: center;
    }
    .firstTitle {
      padding-right: min(30%, 10rem);
    }
    .secondTitle {
      padding-left: min(30%, 10rem);
    }
  }
}
