.container{
    width: min(100%,45rem);
    margin: 1rem;
    .imageContainer{
        // height: fit-content;
        // min-height: 10rem;
        // background: coral;
        img{
            width: 50%;
            float: left;
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
        @media screen and (max-width: 768px) {
            img{
                width: 100%;
            }
        }
    }
}