.container{
    width: min(100%, 45rem);
    .table{
        color: var(--color-dark);
        thead tr th{
            font-size: 1rem;
            font-weight: 600;
        }
        td{
            font-size: .85rem;
            font-weight: 200;
        }
        .notaSubsol{
            font-weight: 400;
        }
        tr{
            cursor: pointer;
        }
    }
}