.prezentare{
    
    h3{
        font-size: var(--font-h3);
        margin-top: 1rem;
        font-weight: 400;
    }
    ul li{
        font-size: var(--font-p);
        font-weight: 200;
    }
    p{
        font-size: var(--font-p);
        font-weight: 200;
        letter-spacing: 1px;
    }
    li{
        list-style-position: outside;
        padding-left: .5rem;
    }
}