.container{
    width: min(100%, 45rem);
    margin-bottom: 1rem;
    .imageContainer{
        .image{
            float: left;
            margin-right: 1rem;
            margin-bottom: 1rem;
            width: 50%;
            // height: 3rem;
        }
        @media screen and (max-width: 768px){
            .image{
                width: 100%;
                // height: auto;
            }
        }
    }
}